/* to hide top-level nav (global), uncomment next line */
 #sacstate-nav-images { display: none; } 
body { 

	margin: 0px 25px 0px 25px;
	padding: 0px;	
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px; /* about 9pt */
	
}

@media print { 

	body {

		margin: 0px 0px 0px 0px;
		padding: 0px;	

	}
	
}

td, th {

	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	
}

a {

	color: #c60202;
	text-decoration: underline;

}

#search {

	margin: 0px;
	padding: 0px;

}

#search label {

	color: #c60202;
	font-size: 10px;
	font-weight: bold;
}

#searchbox {

	background-color: #EEE6CE;
	border: 1px solid #c60202;
	color: #c60202;
	width: 105px;
	min-height: 16px;
	font-size: 10px;
	margin: 0px;
	padding: 0px;

}

/* hide horizontal nav */
.horiznav { display: none; }

.vertnavcell {

	background-color: #fff2f2;
	border-right: 1px solid grey;
	/* close to 160 at 1024x768 */
	width: 15%; 

}

.vertnav {

	margin: 0px;
	padding: 5px;

}

.vertnav ul {
	padding: 0px;
	margin: 0px 0px 1em 0px;
	list-style: none;
}

.vertnav li {
	padding: 0px;
	margin: .5em;
}

.vertnavheader {

	color: #c60202;
	font-weight: bold;

}

.vertnav a:link, .vertnav a:visited, .vertnav a:active {

	color: #c60202;
	text-decoration: none;

}

.vertnav a:hover {

	color: #c60202;
	text-decoration: underline;

}

.vertnav table {
	padding: 0px;
	margin: 0em;
   
    
}

.content {

	margin: 0px 10px 5px 10px;
	padding: 0px;
	
}

.calloutboxborder {

	border: 1px solid #EEE6CE;
	margin: 10px 0px 10px 0px;
	
}

.calloutboxheader {

	background-color: #EEE6CE;
	color: #c60202;
	font-weight: bold;
	margin: 0px;
	padding: 5px;
	
}

.calloutbox {

	color: #c60202;
	margin: 0px;
	padding: 5px;
	
}

#footer {

	color: #ffffff;
	font-size: 10px;

}

#footercell {
	background-repeat: no-repeat;
}

.footer a:link , .footer a:visited, .footer a:active{
    color: white;
    }

h1 {

	font-size: 220%;
	margin-top: 0px;
    margin-bottom: 0px;
	
}

h2 {

	font-size: 150%;
	
}

h3 {
    
	font-size: 135%;
}

h4 {
    margin-top: 10px;  
        margin-bottom: 10px;   
	font-size: 120%;
	
}

h5 {

	font-size: 105%;
	
}

h6 {

	font-size: 100%;
	
}

.darkgreen {

	background-color: #c60202;
	
}

.lightgreen {

	background-color: #EEEEEE;
	
}

.darkgreentext {

	color: #c60202;
	
}

.lightgreentext {

	color: #EEE6CE;
	
}